@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.homepage {
  width: 100%;
  height: auto;
}

/* --------------------STATISTIC----------------------- */

.homepage .static-frame {
  width: 100%;
  height: 276px;
  background: rgb(255, 232, 236);
}

.homepage .static-frame .static-box {
  width: 1260px;
  height: 180px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .static-frame .static-box .static-txt {
  tab-size: 10px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .static-frame .static-box .static-boxes {
  position: relative;
  width: 1150px;
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.homepage .static-frame .static-box .static-boxes .static-num {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .static-frame .static-box .static-boxes .static-num img {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.226);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transition: 0.1s ease-in-out;
}

.homepage .static-frame .static-box .static-boxes .static-num img:hover {
  transform: scale(1.1);
}

.homepage .static-frame .static-box .static-boxes .static-num .static-text {
  width: auto;
  height: auto;
  position: relative;
  top: 10px;
  font-family: "Josefin Sans", sans-serif;
}

/* -----------------------------POPULAR DISHES-------------------------- */

.homepage .popular-dishes-frame {
  width: 100%;
  height: 580px;
  display: flex;
  background: #f8f8ff;
}

.homepage .popular-dishes-frame .popular-section {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage .popular-dishes-frame .popular-section .category-title {
  text-align: center;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  color: #000;
  font-family: "Josefin Sans", sans-serif;
}
.homepage .popular-dishes-frame .popular-section .cards-frame {
  margin-top: 43px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .popular-dishes-frame .cards-frame .card {
  min-height: 439px;
  min-width: 300px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.homepage .popular-dishes-frame .cards-frame .card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px 3px lightblue;
}
.homepage .popular-dishes-frame .cards-frame .card .card-cover {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0) 200px
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 300px);
}

/* -------------------  NEW PRODUCTS -------------------------*/

.homepage .new-products-frame {
  width: 100%;
  height: 605px;
  background: #f8f8ff;
  display: flex;
}

.homepage .main {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .new-products-frame .category-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .new-products-frame .main .cards-frame {
  width: 100%;
  margin: 74px 2px 2px 2px;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .new-products-frame .main .card {
  height: 335px;
  width: 290px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.homepage .new-products-frame .main .card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px 3px lightblue;
}

.homepage .new-products-frame .product-sale {
  position: absolute;
  margin-top: 10px;
  z-index: 100;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9200;
  box-shadow: 4ps 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #f8f8ff;
}

.homepage .new-products-frame .product-detail {
  width: auto;
  height: 49%;
  display: flex;
  justify-content: center;
  margin-top: -10px;
  border-top: 1px solid;
  border-color: #f8f8ff;
  background-color: #fafbfb;
}

.homepage .new-products-frame .product-detail .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .new-products-frame .product-detail .title {
  width: 65px;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .new-products-frame .product-detail .price {
  width: 65px;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .new-products-frame .product-detail .views {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .new-products-frame .product-detail .divider {
  margin: 0 10px 0 10px;
  width: 2px;
  background-color: #d9d9d9;
}

.homepage .new-products-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
  color: #e3c08d;
}

/* -------------------  ADVERTISEMENT--------video-----------------*/

.homepage .abs-restaurant-frame {
  width: 100%;
  height: 693px;
  display: flex;
  overflow: hidden;
  transform: perspective(0px);
  box-shadow: -3px 0px 20px 14px #34343480;
}

.homepage .abs-restaurant-frame .ads-video {
  width: 130%;
  background: #0c0312;
  display: flex;
  box-shadow: 0px -8px 90px rgb(215, 215, 215);
  transform: scale(1.5);
  overflow: hidden;
}

/* -------------------  ACTIVE USERS-------------------------*/

.homepage .active-users-frame {
  width: 100%;
  height: 605px;
  background: #f8f8ff;
  display: flex;
}

.homepage .active-users-frame .main {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .active-users-frame .main .category-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .active-users-frame .main .card-frame {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .active-users-frame .main .card-frame .card {
  margin: 5px;
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.homepage .active-users-frame .main .card-frame .title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 80px;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .active-users-frame .no-data {
  width: auto;
  margin-top: 200px;
  font-size: 44px;
  font-weight: 500;
  color: #ff9200;
  font-family: "Josefin Sans", sans-serif;
}

/** ----------------------------EVENTS-------------------------------- **/

.homepage .events-frame {
  width: 100%;
  height: 745px;
  background: #f8f8ff;
  display: flex;
}

.homepage .events-frame .category-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  padding-top: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .events-frame .events-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .events-frame .events-main .events-text {
  width: auto;
  height: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .events-frame .events-main .prev-next-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 40px 0 40px 0;
  height: 25px;
}

.homepage .events-frame .dot-frame-pagination {
  position: relative;
  width: auto;
  display: flex;
}

.homepage .events-frame .events-main .events-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events-frame .events-info .events-info-frame {
  position: relative;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .events-frame .events-img {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  background-size: cover;
}

.homepage .events-frame .events-desc {
  position: absolute;
  margin-bottom: 7px;
  padding: 10px;
  display: flex;
  width: 90%;
  height: auto;
  bottom: 5px;
  background: #f8f8ff;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .events-frame .events-desc .events-bott {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .events-frame .events-desc .events-bott .bott-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .events-frame .bott-left .event-title-speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events-frame .event-title-speaker .event-organizator {
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .events-frame .event-title-speaker .event-organizator img {
  width: 20px;
  margin-right: 10px;
}

.homepage .events-frame .event-organizator .spec-text-author {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  line-height: 34px;
  color: #140342;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .events-frame .bott-left .text-desc {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #4f547b;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .events-frame .bott-left .bott-info {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 16px;
}

.homepage .events-frame .bott-info .bott-info-main {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}

.homepage .events-frame .bott-info .bott-info-main img {
  margin-right: 10px;
}

.homepage .events-frame .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.homepage .events-frame .swiper-pagination-bullet {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #f8f8ff;
  border-radius: 50%;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .events-frame .swiper-pagination-bullet-active {
  background: #343434;
  border-radius: 50%;
}

/* -------------------HISTORY------------------- */

.homepage .history-frame {
  width: auto;
  height: 1900px;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .history-frame .main {
  width: auto;
  height: 1800px;
  position: relative;
  border: 3px solid transparent;
  border-image: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    )
    1;
}

.homepage .history-frame .main .category-title {
  width: auto;
  height: auto;
  font-size: 35px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

.homepage .history-frame .main .category-title .card-frame {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ------------------1---------------- */

.history-frame .card-frame .history .right-1 .photo-01 {
  width: 400px;
  height: 300px;
  margin-top: 50px;
  position: absolute;
  left: 130px;
  top: 100px;
  filter: blur(1.5px);
  border-radius: 10px;
}
.history-frame .card-frame .history .right-1 .photo-02 {
  width: 430px;
  height: 300px;
  margin-top: 50px;
  position: absolute;
  left: 150px;
  top: 120px;
  border-radius: 10px;
}

.history-frame .card-frame .history .right-1 .text-01 {
  width: 200px;
  height: 80px;
  font-size: 40px;
  color: pink;
  position: absolute;
  right: 465px;
  top: 250px;
  font-weight: 300;
}

.history-frame .card-frame .history .right-1 .text-02 {
  width: 400px;
  height: 80px;
  font-size: 30px;
  position: absolute;
  right: 120px;
  top: 200px;
  font-weight: 500;
}

.history-frame .card-frame .history .right-1 .text-03 {
  width: 400px;
  height: 120px;
  font-size: 20px;
  position: absolute;
  right: 120px;
  top: 300px;
  font-weight: 300;
  background: pink;
  border-radius: 5px;
}

/* ------------------2---------------- */

.history-frame .card-frame .history .right-2 .photo-02 {
  width: 430px;
  height: 300px;
  margin-top: 50px;
  position: absolute;
  right: 120px;
  top: 550px;
  border-radius: 10px;
}

.history-frame .card-frame .history .right-2 .text-01 {
  width: 200px;
  height: 80px;
  font-size: 40px;
  color: pink;
  position: absolute;
  right: 663px;
  top: 700px;
  font-weight: 300;
}

.history-frame .card-frame .history .right-2 .text-02 {
  width: 400px;
  height: 80px;
  font-size: 30px;
  position: absolute;
  left: 170px;
  top: 620px;
  font-weight: 500;
}

.history-frame .card-frame .history .right-2 .text-03 {
  width: 400px;
  height: 100px;
  font-size: 20px;
  position: absolute;
  left: 170px;
  top: 720px;
  font-weight: 300;
  background: pink;
  border-radius: 5px;
}

/* ------------------3---------------- */

.history-frame .card-frame .history .right-3 .photo-02 {
  width: 430px;
  height: 300px;
  margin-top: 50px;
  position: absolute;
  left: 150px;
  top: 960px;
  border-radius: 10px;
}

.history-frame .card-frame .history .right-3 .text-01 {
  width: 200px;
  height: 80px;
  font-size: 40px;
  color: pink;
  position: absolute;
  right: 465px;
  top: 1100px;
  font-weight: 300;
}

.history-frame .card-frame .history .right-3 .text-02 {
  width: 400px;
  height: 80px;
  font-size: 30px;
  position: absolute;
  right: 120px;
  top: 1050px;
  font-weight: 500;
}

.history-frame .card-frame .history .right-3 .text-03 {
  width: 400px;
  height: 100px;
  font-size: 20px;
  position: absolute;
  right: 120px;
  top: 1150px;
  font-weight: 300;
  background: pink;
  border-radius: 5px;
}

/* ------------------4---------------- */

.history-frame .card-frame .history .right-4 .photo-02 {
  width: 430px;
  height: 300px;
  margin-top: 50px;
  position: absolute;
  right: 120px;
  top: 1350px;
  border-radius: 10px;
}

.history-frame .card-frame .history .right-4 .text-01 {
  width: 200px;
  height: 80px;
  font-size: 40px;
  color: pink;
  position: absolute;
  right: 660px;
  top: 1500px;
  font-weight: 300;
}

.history-frame .card-frame .history .right-4 .text-02 {
  width: 400px;
  height: 80px;
  font-size: 30px;
  position: absolute;
  left: 170px;
  top: 1460px;
  font-weight: 500;
}

.history-frame .card-frame .history .right-4 .text-03 {
  width: 400px;
  height: 100px;
  font-size: 20px;
  position: absolute;
  left: 170px;
  top: 1595px;
  font-weight: 300;
  background: pink;
  border-radius: 5px;
}
